body {
    font-family: Arial, sans-serif;
}

.recipe-list {
    margin-bottom: 20px;
}

.recipe-item {
    margin: 5px 0;
}

.user-list {
    margin-bottom: 20px;
}

.user-item {
    margin: 5px 0;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}